.text_align_center {
    text-align: center;
}

.text_color_blue {
    color: rgba(0, 83, 159, 1);
    text-shadow: 3px 3px rgba(0, 0, 0, 0.5);
}

body {
    background-color: rgba(0, 83, 159, 1);
    margin: 0px;
}

.div_body {
    border: 3px solid black;
    width: 500px;
    margin-left: 40%;
    background-color: orange;
}