/* div ~ h3 {
    color: green;
}  */

div +h3 {
    color: green;
}

div+div {
    color: greenyellow;
}

ul li {color: brown; background-color: aqua;}
ol > li {color: white; background-color: black;}

h3, 
h4, 
h5 {color: blue;}

/* 따로 주는것 */
h4 {background-color: aqua;}
